/* @media screen <576px   */
body , html , .wrapper {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}
h1 , h2 {
    margin: 2rem 0 2rem 0;
}
h1{
    text-align: center;
}
h5 {
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18vh auto auto 10vh;
    grid-template-areas: 
    "header"
    "slider"
    "main"
    "footer"
    ;
}
